# top-most EditorConfig file
root = true

# Default configuration for all files
[*]
end_of_line = lf
indent_size = 3
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# YAML file configuration
[*.{yml,yaml}]
indent_size = 2
