[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/inja"]
	path = external/inja
	url = https://github.com/pantor/inja.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/fmtlib"]
	path = external/fmtlib
	url = https://github.com/fmtlib/fmt.git
