/*************************************************************************
* Copyright 2018 Reegan Troy Layzell
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*       http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*************************************************************************/
#ifdef RUSH_DIAG_SYNTAX_ERROR_FUNC_IMPL
## for err in errors
## if err.kind == "syntax"
## for msg in err.messages

## if not existsIn(msg, "params")
inline std::unique_ptr<::rush::diag::syntax_error> {{ msg.name }}(::rush::lexical_token tok) {
   auto msg = fmt::format("{{ msg.text }}", tok.text());
   return std::make_unique<::rush::diag::syntax_error>({{ iadd(loop.index, err.bracket.start) }}, std::move(msg), std::move(tok));
}
## else
inline std::unique_ptr<::rush::diag::syntax_error> {{ msg.name }}(::rush::lexical_token tok, {{ join(prepend("std::string_view ", msg.params), ", ") }}) {
   auto msg = fmt::format("{{ msg.text }}", tok.text(), {{ join(msg.params, ", ") }});
   return std::make_unique<::rush::diag::syntax_error>({{ iadd(loop.index, err.bracket.start) }}, std::move(msg), std::move(tok));
}
## endif
## endfor
## endif
## endfor
#undef RUSH_DIAG_SYNTAX_ERROR_FUNC_IMPL
#endif


#ifdef RUSH_DIAG_SEMANTIC_ERROR_FUNC_IMPL
## for err in errors
## if err.kind == "semantic"
## for msg in err.messages

## if not existsIn(msg, "params")
inline std::unique_ptr<::rush::diag::semantic_error> {{ msg.name }}() {
   std::string msg = "{{ msg.text }}";
   return std::make_unique<::rush::diag::semantic_error>({{ iadd(loop.index, err.bracket.start) }}, std::move(msg));
}
## else
inline std::unique_ptr<::rush::diag::semantic_error> {{ msg.name }}({{ join(prepend("std::string_view ", msg.params), ", ") }}) {
   auto msg = fmt::format("{{ msg.text }}", {{ join(msg.params, ", ") }});
   return std::make_unique<::rush::diag::semantic_error>({{ iadd(loop.index, err.bracket.start) }}, std::move(msg));
}
## endif
## endfor
## endif
## endfor
#undef RUSH_DIAG_SEMANTIC_ERROR_FUNC_IMPL
#endif


#ifdef RUSH_DIAG_SEMANTIC_WARNING_FUNC_IMPL
## for wrn in warnings
## if wrn.kind == "semantic"
## for msg in wrn.messages

## if not existsIn(msg, "params")
inline std::unique_ptr<::rush::diag::semantic_warning> {{ msg.name }}() {
   std::string = "{{ msg.text }}";
   return std::make_unique<::rush::diag::semantic_warning>({{ iadd(loop.index, wrn.bracket.start) }}, std::move(msg));
}
## else
inline std::unique_ptr<::rush::diag::semantic_warning> {{ msg.name }}({{ join(prepend("std::string_view ", msg.params), ", ") }}) {
   auto msg = fmt::format("{{ msg.text }}", {{ join(msg.params, ", ") }});
   return std::make_unique<::rush::diag::semantic_warning>({{ iadd(loop.index, wrn.bracket.start) }}, std::move(msg));
}
## endif
## endfor
## endif
## endfor
#undef RUSH_DIAG_SEMANTIC_WARNING_FUNC_IMPL
#endif
