#include "rush/lexer/_symbols.hpp"
#include "rush/lexer/token.hpp"

#include <string>

namespace rush::symbols {
	symbol_t to_value(std::string const& s) {
		{% for symbol in symbols %}
		if (s == "{{ symbol/symbol }}") return symbols::{{ symbol/name }};
		{% endfor %}
		return symbols::unknown;
	}

	std::string to_string(symbol_t s) {
		switch (s) {
		{% for symbol in symbols %}
		{% if existsIn(symbol, "symbol") %}
		case {{ symbol/name }}: return "{{ symbol/symbol }}";
		{% endif %}
		{% endfor %}
		default: return "";
		}
	}
}