#include "rush/lexer/_symbols.hpp"
#include "rush/lexer/token.hpp"

#include <string>

namespace rush {
	namespace symbols {
		symbol_t to_value(std::string const& sy) {
			{% for symbol in symbols %}
			if (sy == "{{ symbol/symbol }}") return symbols::{{ symbol/name }};
			{% endfor %}
			return symbols::unknown;
		}
	}
}