#pragma once

#ifndef RUSH_LEXER__KEYWORDS_HPP
#define RUSH_LEXER__KEYWORDS_HPP

#include <string_view>

namespace rush {
	namespace keywords {
		enum keyword_t {
			unknown,
			{% for type in types %}
			{{ type/name }}_,
			{% endfor %}
			{% for keyword in keywords %}
			{{ keyword/name }}_,
			{% endfor %}
		};

		std::string_view to_string(keyword_t);
		keyword_t to_value(std::string_view);
	}

	using keywords::keyword_t;
}


#endif // RUSH_LEXER__KEYWORDS_HPP