#pragma once

#ifndef RUSH_LEXER__KEYWORDS_HPP
#define RUSH_LEXER__KEYWORDS_HPP

#include <string_view>

namespace rush {
	namespace keywords {
		enum keyword_token_t {
			unknown,
## for type in types
			{# newline #}
			{{ type/name }}_,
## endfor
## for keyword in keywords
			{# newline #}
			{{ keyword/name }}_,
## endfor

		};

		std::string to_string(keyword_token_t);
		keyword_token_t to_value(std::string_view);
	}

	using keywords::keyword_token_t;
	using keywords::to_string;
}


#endif // RUSH_LEXER__KEYWORDS_HPP
