#pragma once

#ifndef RUSH_LEXER__KEYWORDS_HPP
#define RUSH_LEXER__KEYWORDS_HPP

namespace rush {
	namespace keywords {
		enum keyword_t {
		{% for type in types %}
			{{ type/name }}_,
		{% endfor %}
		{% for keyword in keywords %}
			{{ keyword/name }}_,
		{% endfor %}
		};

		char const* map_to(keyword_t);
		keyword_t map_to(char const*);
	}

	using keywords::keyword_t;
}

#endif // RUSH_LEXER__KEYWORDS_HPP