#pragma once

#ifndef RUSH_LEXER_TOKENS_HPP
#define RUSH_LEXER_TOKENS_HPP

#include "rush/lexer/_keywords.hpp"
#include "rush/lexer/_symbols.hpp"

namespace rush {

	namespace tokens {
	{% for symbol in symbols %}
		inline lexical_token {{ symbol/name }}() {
			return { lexical_token_value { symbols::{{ symbol/name }} } };
		}
	{% endfor %}

		inline lexical_token identifier(std::string ident) {
			return { lexical_token_value { ident } };
		}

	{% for type in types %}
		inline lexical_token {{ type/name }}_keyword() {
			return { lexical_token_value { keywords::{{ type/name }}_ } };
		}
	{% endfor %}

	{% for keyword in keywords %}
		inline lexical_token {{ keyword/name }}_keyword() {
			return { lexical_token_value { keywords::{{ keyword/name }}_ } };
		}
	{% endfor %}
	}

}

#endif // RUSH_LEXER_TOKENS_HPP
